
html {
	font-family: Lato, Helvetica, sans-serif;
}

p {
	font-size: 14px;
	font-weight: 400;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

.biin_html{
	display:table;
}

.listPrice_Table {
	display:table;
	margin:0 auto;
	width: 70%;
}

.listPrice_Title h2 {
	font-size: 25px;
	font-weight:300;
	margin-bottom: 5px;
}

.listPrice {
	width: 100%;
}

.listPrice_Left {
	width: 80%;
	float: left;
}

.listPrice_Left_Top p{
	font-size: 17px;
	font-weight:400;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.listPrice_Left_Bottom p{
	font-size: 14px;
	font-weight: 200;
	text-align: left;
	color: #707070;
	text-overflow: ellipsis;
	margin-top: 0px;
	margin-bottom: 10px;
}

.listPrice_Right p{
	width: 20%;
	float: right;
	font-size: 17px;
	font-weight:400;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.highlight {
	display:table;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.highlight_title p {
	font-size: 20px;
	font-weight:300;
	margin-top: 0px;
	margin-bottom: 0px;
}

.highlight_text p {
	font-size: 80px;
	font-weight:300;
	margin-top: -15px;
	margin-bottom: 0px;
}

.highlight_subtext p {
	font-size: 12px;
	font-weight:300;
	margin-top: -10px;
	margin-bottom: 0px;
}

.biin_h2 {
	font-size: 25px;
	font-weight:300;
	/*margin-bottom: -15px;*/
}

.biin_h1 {
	font-size: 30px;
	font-weight:300;
	/*margin-bottom: -15px;*/
}

.biin_h6 {
	font-size: 12px;
	font-weight:300;
	/*margin-bottom: -15px;*/
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes:none;
	font-size: 25px;
	font-weight: 300;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	vertical-align:middle;
}

blockquote p {
	display: inline;
}